# macOS system files
.DS_Store
AppleDouble
.LSOverride

# Build and Executables
bin/
build/
*.o
*.out
*.app
LastingIntegrity
._*

# IDE / Editors
.vscode/
.idea/
*.xcodeproj/
*.xcworkspace/Lasting_Integrity
Lasting_Integrity
